html, body {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background-image: url("https://wallpaper.dog/large/20552168.jpg");
 background-size: cover;
}

#scene-description {
 width: 600px;
 margin: 20px auto;
 text-align: center;
 font-family: "Trebuchet MS";
 font-size: 0.8em;
 color: white;
}

#scene-container {
 width: 600px;
 height: 400px;
 margin: auto;
 border: 5px solid black;
 background-color: white;
 overflow: hidden; /* contain objects "on-screen" */
 background-image: url(sadseaside.jpg);
 
}

#girlactor {

width: 600px;
position: relative;
top: 20px;
left: -600px ; 
transform: scaleX(-1);
animation: girl-running 10s infinite linear;

}


#boyactor {

 width: 600px;  
 position: relative;
 top: -323px;  
 left: 440px;
 animation: boy-running 10s infinite linear ;
 
}

@keyframes girl-running {


0% {transform:  translate(0px,0px) scaleX(-1); }
25% {transform: translate(340px,0px) scaleX(-1); }
40% {transform: translate(500px,0px) scaleX(-1); }
100% {transform: translate(500px,0px) scaleX(-1); }

}


@keyframes boy-running {

0% {transform:  translate(0px,0px);    opacity: 1; }
25% {transform: translate(-340px,0px); opacity: 1; }
40% {transform: translate(-500px,0px); opacity: 1; }
60% {transform: translate(-500px,0px); opacity: 0; }
100% {transform: translate(-500px,0px); opacity: 0; }

    
}

