html, body {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background-image: url("https://wallpaper.dog/large/20552168.jpg");
 background-size: cover;
}

#scene-description {
 width: 600px;
 margin: 20px auto;
 text-align: center;
 font-family: "Trebuchet MS";
 font-size: 0.8em;
 color: white;
}

#scene-container {
 width: 600px;
 height: 400px;
 margin: auto;
 border: 5px solid black;
 background-color: white;
 overflow: hidden; /* contain objects "on-screen" */
 background-image: url(sadseaside.jpg);
 
}

#girlactor {

width: 600px;
position: relative;
top: 20px;
left: -400px ; 
transform: scaleX(-1);

}


#boyactor {

 width: 600px;  
 position: relative;
 top: -323px; 
 left: 133px;
 
}

@keyframes girl-running {


0%.  {transform: translate (0px,0px) scale(0); opacity:1; }
100% {transform: translate (0px,0px) scale(1); opacity:1; }



}
