html, body {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


body {
  background-image: url("movie.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


#scene-description {
 width: 600px;
 margin: 20px auto;
 text-align: center;
 font-family: cursive ;
 font-size: 0.8em;
 color: white;
}

#scene-container {
  position: absolute;
  top: 160px;
  left: 8px;
  width: 348px;
  height: 250px;
  overflow: hidden;
  

  background-image: url("beach1.jpg");
  background-size: cover;
  background-position: center bottom;
  border: 8px solid rgb(132, 99, 54);  
  box-shadow: 0 0 40px black;
}


#scene-container:after {
  content: "";
  position: absolute;
  inset: 0;

  /* SECOND: SEASIDE (alone) */
  background-image: url("sadseaside.jpg");
  background-size: cover;
  background-position: center bottom;

  opacity: 0;
  animation: bg-change 10s linear infinite;
  pointer-events: none;
  z-index: 0

}

#girlactor {
  width: 100%;
  position: relative;
  top: 20px;
  left: -600px;
  transform: scaleX(-1);
  animation: girl-running 10s linear infinite;
  z-index: 2;
}


#boyactor {
 width: 100%;  
 position: relative;
 top: -181px;  
 left: 440px;
 animation: boy-running 10s linear infinite ;
z-index: 2;

}


@keyframes girl-running {
  0%   { transform: translate(0px,0px) scaleX(-1); }
  25%  { transform: translate(340px,0px) scaleX(-1); }
  40%  { transform: translate(505px,0px) scaleX(-1); }
  65%  { transform: translate(505px,0px) scaleX(-1); } 
  100% { transform: translate(530px,0px) scaleX(-1); }
}

@keyframes boy-running {

0% {transform:  translate(0px,0px);    opacity: 1; }
25% {transform: translate(-340px,0px); opacity: 1; }
40% {transform: translate(-505px,0px); opacity: 1; }
60% {transform: translate(-510px,0px); opacity: 0; }
100% {transform: translate(-515px,0px); opacity: 0; }

    
}

@keyframes bg-change {
  0%   { opacity: 0; }
  25%  { opacity: 0; }
  60%  { opacity: 1; }
  100% { opacity: 1; }
}

